<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dreamcoders.almostthere" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:name="com.dreamcoders.almostthere.MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CurrentCarpools"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.dreamcoders.almostthere.CurrentCarpools" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Intro.Intro_email"
            android:label="@string/title_activity_intro_email" >
        </activity>
        <activity
            android:name=".Intro.Intro_Code"
            android:label="@string/title_activity_intro__code" >
        </activity>
        <activity
            android:name=".Intro.Intro_userInfo"
            android:label="@string/title_activity_intro_user_info" >
        </activity>
    </application>

</manifest>
